<!--<mat-card>Ingrese los datos del paciente</mat-card> -->

<br/>



<mat-grid-list cols="2" rowHeight="500px">
  <mat-grid-tile>
    <div>
    
    <mat-form-field>
      <input matInput [(ngModel)]="menuName" [disabled]="true">
    </mat-form-field>
    <br>
    <div>
      <h2>Roles Actuales</h2>      
    </div>
    <br>
    <h4 *ngFor="let rol of rolesActuales"> {{rol.nombre}}</h4>
  </div>
  
  </mat-grid-tile>
  <mat-grid-tile>

    <div>

    <mat-form-field>
      <mat-select [(ngModel)]="selectedValue" placeholder="Seleccione un rol">
        <mat-option *ngFor="let rol of listRol" [value]="rol.idRol">
          {{rol.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
        <button mat-raised-button color="primary" (click)="addToAssign()" [disabled]="selectedValue==null">Registrar</button>
    
    <div *ngFor="let rol of listRolSelected">
      <span>{{rol.nombre}}</span>
      <button mat-button color="accent" (click)="eliminar(rol.idRol)">Eliminar</button>
    
    </div>
    <br>
    <br>
    <br>
    <br>
    <div  style="margin-left: 100px">
        <button mat-raised-button color="primary" (click)="asign()"  [disabled]="listRolSelected.length==0" routerLink='/menutouser' >Asignar</button>
        
    </div>
    
  </div>
  </mat-grid-tile>
</mat-grid-list>



<br>
<br>








