<mat-toolbar>Perfil</mat-toolbar>

<div class="example-container mat-elevation-z8">


    <mat-card>
    

      

      <mat-list>
          <h3 mat-subheader>UserName</h3>
          <mat-list-item >
              {{username}}
            </mat-list-item>
          <h3 mat-subheader>Pefil</h3>
          <mat-list-item *ngFor="let rol of roles">
            <h4 mat-line>{{rol}}</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
     
    

      </mat-card>
 
</div>

<br/>

