<mat-toolbar>Signo Vital</mat-toolbar>

<div class="example-container mat-elevation-z8">

  <router-outlet></router-outlet>

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idSignoVitale">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idSignoVitale}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Paciente </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.paciente.nombres}}</mat-cell>
    </ng-container>

    

    <ng-container matColumnDef="temperatura">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.temperatura}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="pulso">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.pulso}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="ritmoCardiaco">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo Caridiaco </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ritmoCardiaco}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['edicion', row.idSignoVitale]">Actualizar</button>
        <button mat-button color="accent" (click)="eliminar(row.idSignoVitale)">Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">

    </mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator>
</div>

<br/>

<button mat-fab color="accent" style="float: right" routerLink='/signovital/nuevo'>
  <mat-icon>create</mat-icon>
</button>